/.github
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
pub/sw.js
pub/sw-compiled.js
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemapdes
/pub/sitemap.xml
/.idea
/.gitattributes
/.env
auth.json

/app/config_sandbox
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
node_modules
/.grunt
/Gruntfile.js
/package.json
.php_cs
.php_cs.cache
/grunt-config.json
/dev/tools/grunt/configs/local-themes.js
/pub/media/*
!/pub/media/.htaccess
/pub/static/*
!/pub/static/.htaccess

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store
app/etc/env.php
npm-debug.log
/pub/sw-compiled.js

/app/design/frontend/MageDerby/DeBougies/Magento_Theme/
/app/design/frontend/MageDerby/DeGouges/Magento_Theme/
/app/design/frontend/Scandiweb/pwa/