$white: #fff;
$black: #1A1516;
$default-primary-base-color: #B9933B;
$default-primary-dark-color: #a78139;
$default-primary-light-color: #cca63d;
$default-secondary-base-color: rgb(245, 243, 228);
$default-secondary-dark-color: #858585;
$default-secondary-light-color: rgba(160, 160, 160, 0.89);
$font-muli: 'Muli', sans-serif;
$font-standard-size: 12px;
$font-mobile-size: 14px;

@mixin xs-mobile {
  @media (max-width: 460px) {
    @content;
  }
}