$white: #fff;
$black: #201C1D;
$default-primary-base-color: #97ccec;
$default-primary-dark-color: #6e8fb4;
$default-primary-light-color: #BAD6F1;
$default-secondary-base-color: rgb(234, 238, 245);
$default-secondary-dark-color: #858585;
$default-secondary-light-color: rgba(160, 160, 160, 0.89);
$font-muli: 'Muli', sans-serif;
$font-standard-size: 12px;
$font-mobile-size: 14px;

@mixin xs-mobile {
  @media (max-width: 460px) {
    @content;
  }
}